body {
  margin: 0%;
  background-color: #333;
}
.container-fora {
  width: 100%;
  background-color: #222;
}
nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;

  position: static;
  padding-top: 10px;
}
a:hover {
  color: yellow;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

section {
  width: 100%;
  position: relative;
  color: #ffffff;
  text-align: center;
}

.feliz {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: bold;
  padding-left: 5px;
  color: #ffffff;
  text-align: center;
}

img {
  border-radius: 20px;
  border: solid #ffffff;
  cursor: pointer;
}

img:hover {
  border: solid yellow;
  transition: 2s;
}

p:hover {
  border: solid blue;
  transition: 2s;
}

p {
  border: yellow;
}

header {
  background-color: #222;
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 2.8em;
  font-weight: 200;
  cursor: pointer;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  margin-right: 1.3em;
  font-size: 1.5em;
}

header h1 {
  color: #00e0ff;
  transition: 0.2s ease-in-out;
}

header h1:hover,
a:hover {
  color: yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}
.dados {
  text-align: justify;
}
strong {
  color: yellow;
}

.container a {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.zoom {
  width: 10%;
  height: 100%;
  transition: transform 0.5s;
}

.zoom:hover {
  transform: scale(1.2);
}
