footer {
  background-color: #222;
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  background-color: #222;
  padding: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 2.8em;
  font-weight: 200;
  cursor: pointer;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  margin-right: 1.3em;
  font-size: 1.5em;
}

header h1,
a {
  color: #00e0ff;
  transition: 0.2s ease-in-out;
}

header h1:hover,
a:hover {
  color: #fff;
}
main {
  padding: 5%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* main content */

main .main-content {
  display: flex;
  flex-direction: column;
}

main .main-content h2 {
  margin-bottom: 2%;
  font-size: 2.2em;
}

main .main-content .text {
  margin-bottom: 10%;
}

main .main-content .text p {
  width: 75%;
  font-size: 1.2em;
  font-weight: 300;
}

/* CARDS */

main .techs .cards-container {
  align-items: center;
  display: flex;
}

main .techs .cards-container .card {
  width: 120px;
  height: 120px;
  padding: 10px;
  background-color: #eee;
  border-radius: 8px;
  margin-right: 1.8em;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: box-shadow 0.25s ease-in-out;
}

main .techs .cards-container .card img {
  width: 80%;
}

main .techs .cards-container .card:hover {
  box-shadow: 0px 0px 8px #00e0ff;
}

/*foto */

main figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main figure img {
  width: 400px;
  height: 400px;
  border-radius: 200px;

  margin-bottom: 6%;
  border: 1px #00e0ff solid;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

main figure img:hover {
  box-shadow: 0px 0px 6px #00e0ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100vh;

  background-color: #333;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #fff;
}

.container-fora {
  width: 100%;
  background-color: #222;
}
nav {
  display: flex;
  justify-content: space-evenly;
  font-weight: 300px;
  font-size: 24px;
  font-family: roboto;
  position: static;
  padding-top: 10px;
}
a:hover {
  color: yellow;
  text-decoration: none;
}

.zoom {
  width: 45%;
  height: 100%;
  transition: transform 0.5s;
}

.zoom:hover {
  transform: scale(1.2);
}

.card {
  width: 45%;
  height: 100%;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.2);
}
